@model IEnumerable<Hospital.Data.AppointmentDetailsDto>

<!DOCTYPE html>
<html>

<head>

    <style>
        small {
            font-size: 0.5em;
        }

        .list {
            border-radius: 3px;
            padding: 25px 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
        }

        .table-header {
            background-color: #d8a1d8;
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 0.03em;
        }

        .table-row {
            background-color: #ffffff;
            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
        }

        .col-1 {
            flex-basis: 10%;
        }

        .col-2 {
            flex-basis: 40%;
            text-align: center;
        }

        .col-3 {
            flex-basis: 25%;
        }

        .line {
            border-bottom: 1px solid black;
        }

        .col-4 {
            flex-basis: 25%;
        }


        .button {
            background-color: #4CAF50;
            /* Green */
            border: none;
            color: white;
            padding: 5px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .buttonred {
            background-color: red;
            /* Green */
            border: none;
            color: white;
            padding: 5px 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        a {
            color: #000000;
        }

        .btntext {
            color: white !important;
        }

            .btntext:hover {
                text-decoration: none !important;
            }

        .marginTop {
            margin-top: 4rem;
            margin-bottom: 10px;
        }

        .line {
            border-bottom: 1px solid black;
        }
    </style>
</head>

<h2 class="marginTop">Appointment Detail</h2>
<hr class="line">
<ul>
    <li class="table-header list">
        <div class="col col-2"> @Html.DisplayNameFor(model => model.PatientName)</div>

        <div class="col col-2"> @Html.DisplayNameFor(model => model.Gender)</div>
        <div class="col col-2">@Html.DisplayNameFor(model => model.ContactNumber)</div>
        <div class="col col-2"> @Html.DisplayNameFor(model => model.DoctorName)</div>
        <div class="col col-2">@Html.DisplayNameFor(model => model.ConsultancyFee)</div>
        <div class="col col-2">@Html.DisplayName("Date")</div>
        <div class="col col-2">@Html.DisplayName("Time")</div>
        <div class="col col-2">@Html.DisplayNameFor(model => model.Status)</div>

    </li>
</ul>
<ul>
    @foreach (var item in Model)
    {
    <li class="table-row list">
        <div class="col col-2" data-label="Hospital Id">@item.PatientName</div>

        <div class="col col-2" data-label="Payment Status">@item.Gender</div>

        <div class="col col-2" data-label="Customer Name">@item.ContactNumber</div>
        <div class="col col-2" data-label="Hospital Id">@item.DoctorName</div>

        <div class="col col-2" data-label="Payment Status">@item.ConsultancyFee</div>
        <div class="col col-2" data-label="Customer Name">@item.AppointmentDate</div>
        <div class="col col-2" data-label="Customer Name">@item.AppointmentTime</div>
        <div class="col col-2" data-label="Hospital Id"> @item.Status</div>

    </li>}



</ul>


</body>

</html>
